/* Main Container  */
.main-container {
    background-color: var(--white);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--text-clr);
    font-family: var(--font-poppins);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 60px;
}

/* Navbar  */
.nav_link_extra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--color-salmon) !important;
}

.navbar-light .navbar-nav .nav-link {
    font-size: var(--font-size-mid) !important;
    color: var(--st1) !important;
    font-family: var(--font-google-sans) !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-salmon) !important;
}

.input-group.language_select {
    width: fit-content;
}

a.sign_up {
    font-size: var(--font-size-mid);
    color: var(--st1) !important;
    font-family: var(--font-google-sans);
    text-decoration: none;
    box-shadow: 0px 6px 12px var(--Ev100, rgba(30, 10, 58, 0.04));
    -webkit-box-shadow: 0px 6px 12px var(--Ev100, rgba(30, 10, 58, 0.04));
    transition: background 0.3s, transform 0.2s, color 0.3s, box-shadow 0.3s;
}

a.sign_up:hover {
    color: var(--white) !important;
    background: linear-gradient(180deg, rgb(255, 148, 109) 0%, rgb(255, 125, 104) 100%);
    transform: scale(1.05);
    box-shadow: 0px 14px 40px var(--Ev400, rgba(30, 10, 58, 0.1));
    border-color: transparent;
}

.header-main {
    padding: 20px 0;
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
    background-color: #ffffff30;
    /* background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%); */
    transition: backdrop-filter 0.3s, background-color 0.3s;
    z-index: 9999;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.header-main.hidden {
    transform: translateY(-100%);
}

.form-select {
    border: none !important;
    font-size: var(--font-size-mid);
    color: var(--st1);
    font-family: var(--font-google-sans);
}

.button-child {
    width: 102px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    border-radius: var(--br-8xs);
    border: 1px solid var(--st1);
    box-sizing: border-box;
}

/* Hero */
.hero__component {
    position: relative;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hero_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_desc p {
    font-size: var(--font-size-base);
    line-height: 30px;
    font-weight: 500;
    color: var(--text-clr);
    display: inline-block;
    max-width: 73%;
}

.tagline {
    font-size: var(--font-size-xl);
    text-transform: uppercase;
    color: var(--color-salmon);
    margin-bottom: 10px;
}

.hero_heading {
    position: sticky;
    font-size: 84px;
    letter-spacing: -0.04em;
    line-height: 89px;
    font-family: var(--font-volkhov);
    color: var(--st);
}

.decore_icon {
    top: 230px;
    left: 250px;
    width: 385px;
    height: 12px;
    position: absolute;
}

.hero_bottons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.hero_bottons a.btn-yellow {
    border-radius: var(--br-3xs);
    background-color: var(--yellow);
    box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
    color: #fff;
    text-decoration: none;
    padding: 18px 23px;
}

.hero_bottons .play_demo_btn img {
    position: relative;
    top: 15px;
}

.hero_bottons .play_demo_btn {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.hero_bottons .play_demo_btn a {
    text-align: left;
    font-size: var(--font-size-mid);
    color: var(--text-color);
    font-family: var(--font-poppins);
    text-decoration: none;
}


/* Hero Images  */
.slider_img img {
    position: relative;
    right: 150px;
    transition: transform 0.3s ease;
}


.bounceUpDown {
    animation: bounceUpDown 4s ease-in-out infinite;
}

@keyframes bounceUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.hero__bg {
    position: fixed;
    top: 10px;
    left: 200px;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/decore2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    background-position: center 0;
    animation: scrollAnimation 4s linear infinite;
}

@keyframes scrollAnimation {
    0% {
        background-position: center 0;
    }

    50% {
        background-position: center 50px;
    }

    100% {
        background-position: center 0;
    }
}


.hero__bg.scrolling {
    background-position: center 100px;
}

.hero__bg.scrolling {
    display: none;
}

/* Services */
.service_component {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.child_title {
    font-size: var(--font-size-lg);
    font-weight: 600;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.parent_title {
    font-size: var(--font-size-31xl);
    text-transform: capitalize;
    font-family: var(--font-volkhov);
    color: var(--rd);
    text-align: center;
    margin-bottom: 20px;
}

/* stars  */

.single_service {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.service_title {
    font-size: var(--font-size-xl);
    font-weight: 600;
    font-family: var(--font-open-sans);
    color: var(--text-heading-color);
}

.service_desc {
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    width: 181px;
    font-size: 16px;
    text-align: center;
}

.single_service_inner {
    display: flex;
    /* padding: 20px; */
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    transition: border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    justify-content: center;
}

.single_service_inner:hover {
    border-radius: 36px;
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
        0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01),
        0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
        0 1.9px 3.15px transparent;
    width: 267px;
    height: 314px;
}

.service_active {
    border-radius: 36px;
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
        0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01),
        0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
        0 1.9px 3.15px transparent;
    width: 267px;
    height: 314px;
    position: relative;
    z-index: 1;
}

span.child {
    position: absolute;
    top: 1210px;
    left: 425px;
    border-radius: var(--br-11xl) 0 var(--br-3xs) 0;
    background-color: var(--color-salmon);
    width: 100px;
    height: 100px;
    z-index: 0;
    transition: top 1s ease-in-out, left 1s ease-in-out;
}

span.child_sm_bg {
    border-radius: var(--br-lg) var(--br-8xs) var(--br-3xs) var(--br-8xs);
    background-color: #fff1da;
    width: 50px;
    height: 49px;
    /* transform: rotate(180deg); */
    /* transform-origin: 0 0; */
    position: relative;
    left: 40px;
    top: 25px;
}

.w_45 {
    width: 45px;
}

/* Top Destinations */
.destinations_component {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.destinations_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    padding: 20px 0;
    z-index: 1;
}

@media (min-width: 990px) and (max-width: 1290px) {
    .destinations_body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 88px;
        padding: 20px 0;
    }
}


.destinations_component .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: transform 1s, filter 0.3s;
}

.destinations_component .item:hover {
    transform: scale(1.01);
}

.destinations_component .item:hover~.item {
    filter: blur(3px);
    transform: scale(0.9);

}

/* .destinations_component .item:hover~.item_box {} */


.destinations_component .item .items_content {
    display: flex;
    /* padding: 20px; */
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    /* gap: 10px; */
    transition: border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    justify-content: center;
}

.destinations_component .item .items_content .item_img {
    width: 315px;
    height: 321.97px;
    max-width: 315px;
}

.items_content .item_box {
    display: grid;
    align-items: center;
    justify-items: stretch;
    border-radius: 0 0 var(--br-5xl) var(--br-5xl);
    background-color: var(--white);
    width: 315px;
    height: 130px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01), 0 1.9px 3.15px transparent;
    padding: 20px;
}

/* .items_content .item_box:hover {} */

.destinations_component .item .items_content .item_box .item_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 100px;
}

.destinations_component .item .items_content .item_box .item_title h6 {
    font-size: var(--font-size-lg);
    color: var(--text-clr);
    font-family: var(--font-poppins);
}

.destinations_component .item .items_content .item_box .item_map {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.item_box .item_map p {
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    font-weight: 500;
}

img.navigation-icon {
    margin-bottom: 12px;
}


.decore-icon {
    position: absolute;
    bottom: 610px;
    left: 525px;
    max-width: 97px;
    height: 253px;
    z-index: 0;
    display: none;
}

/* book a trip component  */
.book_a_trip_component {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.book_a_trip_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.book_a_trip_inner .title_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
}

.title_block h2 {
    text-align: left;
}

.book_a_trip_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trip_info_content {
    display: block;
}

.trip_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.trip_icon_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    background-color: var(--color);
    width: 47px;
    height: 48px;
}

.trip_info img {
    max-width: 47px;
}

.centered-image {
    width: 47px;
    display: flex;
    justify-content: center;
}


.trip_info_content h6 {
    font-size: var(--font-size-base);
    font-weight: 600;
}

.trip_info_content p {
    color: var(--text-clr);
    font-family: var(--font-poppins);
    font-size: var(--font-size-base);
    line-height: 124.5%;
    max-width: 70%;
}

/* Card  */
.book_a_trip_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    border-radius: 26px;
    gap: 20px;
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
        0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01),
        0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
        0 1.9px 3.15px transparent;
    width: 370px;
    height: 400px;
    flex-wrap: wrap;
}

img.rectangle_img {
    max-width: 321px;
    height: 161px;
}

.card_info_bottom {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.card_info_bottom p {
    font-size: var(--font-size-base);
    color: var(--text-2);
    letter-spacing: -0.02em;
}

.card_info p {
    color: var(--text-clr);
    font-family: var(--font-poppins);
    font-size: var(--font-size-base);
    font-weight: 500;
}

.heart {
    position: absolute;
    top: 91%;
    left: 68%;
    display: flex;
    width: 100px;
    height: 100px;
    background: url("https://res.cloudinary.com/do7ntibpe/image/upload/v1698015040/heart_b1c8wc.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}

.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}

/* Card Child  */
.book_a_trip_card_col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book_a_trip_card_child {
    position: absolute;
    left: 66%;
    top: 87%;
    border-radius: var(--br-lg);
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01), 0 1.9px 3.15px transparent;
    width: 263px;
    height: 129px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.book_a_trip_card_child .card_icon img {
    max-width: 50px;
}

.card_icon {
    position: relative;
    bottom: 12%;
}

.card_profile__info p {
    letter-spacing: -0.04em;
    line-height: 124.5%;
    font-weight: 500;
    color: var(--text-2);
    font-size: var(--font-size-sm);
    margin: 0;
}

.card_profile__info h6 {
    font-size: var(--font-size-lg);
    letter-spacing: -0.01em;
    line-height: 124.5%;
    font-weight: 500;
    color: var(--black);
}

.card_profile__end p>span {
    letter-spacing: -0.05em;
    line-height: 124.5%;
    font-weight: 500;
    color: var(--color1);
}

.card_profile__end p {
    color: var(--black);
}

.progress_block_line {
    display: flex;
    background-color: var(--circle);
    width: 156px;
    height: 5px;
}

span.progress_block_done {
    background-color: var(--color1);
    border-radius: var(--br-11xl);
    width: 73px;
}

.card_profile__info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}

.card_profile__end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
}

/* testimonials */
.testimonials_inner {
    display: flex;
}

.testimonial_card {
    display: flex;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01), 0 1.9px 3.15px transparent;
    width: 504px;
    height: 245px;
    align-items: flex-start;
    gap: 2px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 40px;
    justify-content: flex-end;
    position: sticky;
    z-index: 1;
}

.testimonial_card .user_profile {
    position: absolute;
    bottom: 75%;
    right: 90%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial_card .user_profile img {
    max-width: 68px;
}

.user_content p {
    color: var(--text-clr);
    font-family: var(--font-poppins);
    font-size: var(--font-size-base);
    line-height: 32px;
    font-weight: 500;
    display: inline-block;
}

.user_info h5 {
    font-size: var(--font-size-lg);
    font-weight: 600;
}

.user_info p {
    font-size: var(--font-size-sm);
    font-weight: 500;
}

.testimonial_card-child {
    position: relative;
    border-radius: var(--br-3xs);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01), 0 1.9px 3.15px transparent;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    width: 506px;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0px 34px;
    bottom: 7.5%;
    left: 8%;
}

.pagination_icon-arrow {
    position: relative;
    bottom: 18.5%;
    left: 625px;
    width: 16px;
    height: 74.3px;
}

.title_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
}


/* Slider  */
.clients_component {
    padding-top: 40px;
    padding-bottom: 40px;
}

.customer-logos.slider_block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.client_logo {
    border-radius: var(--br-3xs);
    width: 230px;
    height: 106px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    transition: transform 0.5s ease;
}

.client_logo:hover {
    display: flex;
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01), 0 1.9px 3.15px transparent;
}

.client_logo.is-active {
    display: flex;
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 38.5px 25.48px rgba(0, 0, 0, 0.01), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.1px 6.52px rgba(0, 0, 0, 0.01), 0 1.9px 3.15px transparent;
}

.client_logo img {
    width: 130px;
    height: 130px;
}

.client_logo .w-h {
    height: 32px;
    width: 162px;
    margin-top: 50px;
}

/* Newsletter  */
.newsletter__bg {
    width: 100%;
    height: 407px;
    background-image: url('/assets/images/group-78.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    right: 3%;
}

.newsletter__block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_block .form_btn {
    display: flex;
    width: 180px;
    height: 68px;
    color: #fff;
    background: linear-gradient(180deg, #ff946d, #ff7d68);
    border-radius: var(--br-3xs);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    /* padding: 18px 23px; */
}

input#email {
    margin: 0;
    line-height: inherit;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    width: 421px;
    height: 68px;
    font-size: var(--font-size-sm);
    color: var(--text-color1);
    font-family: var(--font-montserrat);
    border: none;
}

.form_block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 22px;
    left: 16px;
}